/*******************************************************************************
** @Author:					Thomas Bouder <Tbouder>
** @Email:					Tbouder@protonmail.com
** @Date:					Friday 16 October 2020 - 10:36:26
** @Filename:				Default.css
**
** @Last modified by:		Tbouder
*******************************************************************************/

#__next {
	width: 100%;
	height: 100%
}

::placeholder {
	color: #000;
	opacity: .3
}
:-ms-input-placeholder,
::-ms-input-placeholder {
	color: #000
}

/******************************************************************************
**	Page transitions
******************************************************************************/
.withAnim {
	will-change: opacity;
	transition: ease-in-out 0.3s;
}
.cp-line {
	width: 100%;
}
.cp-line::before {
	height: 1.25rem !important;
}
.cp-line-after {
	width: 100%;
	height: 1.25rem !important;
	line-height: 1.25rem !important;
}

/******************************************************************************
**	Nprogress component
******************************************************************************/
/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
}

.progressBarColor {
	background: #F9BC2C;
	background: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #F9BC2C 100%);
}
#nprogress .bar {
	background: #F9BC2C;
	background: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #F9BC2C 100%);
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
}
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	opacity: 1;
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}
#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1031;
	top: 15px;
	right: 15px;
}
#nprogress .spinner-icon {
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	border: solid 2px transparent;
	border-top-color: #F9BC2C;
	border-left-color: #F9BC2C;
	border-radius: 50%;
	-webkit-animation: nprogress-spinner 400ms linear infinite;
	animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}
@-webkit-keyframes nprogress-spinner {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@keyframes nprogress-spinner {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

/******************************************************************************
**	Styled button style
******************************************************************************/
.button {
	will-change: transform, opacity;
	contain: content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: fit-content;
	transition: 0.1s;
	outline: none;
	cursor: pointer;
	font-weight: 600;
	border-radius: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

/******************************************************************************
**	Styled input style
******************************************************************************/
input {
	background-color: transparent;
	width: 100%;
    border-top-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-right-style: initial;
    border-top-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-right-color: initial;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 17px;
    caret-color: rgba(30, 41, 59, 1);
    font-weight: normal;
    font-style: normal;
    position: relative;
}
input:focus {
	box-shadow: none;
	outline: none;
	border: none;
}
.outline {
	align-items: center;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	padding: 2px 8px;
	overflow: hidden;
	box-sizing: border-box;
	background-color: hsl(0,0%,100%);
	border-radius: 4px;
	border: 1px solid hsl(0,0%,80%);
	cursor: default;
	justify-content: space-between;
	min-height: 38px;
	outline: 0 !important;
	transition: all 100ms;
	resize: none;
}
.outline:focus {
	box-shadow: none;
	outline: none;
	border: 1px solid hsl(0,0%,80%);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

/******************************************************************************
**	TAILWIND CSS ++
******************************************************************************/
.w-max {
	width: max-content;
}
.transition-all {
	transition-duration: 150ms;
}

[type='checkbox'],
[type='radio'] {
	-webkit-appearance: none;
	-moz-appearance: none;
		appearance: none;
	padding: 0;
	-webkit-print-color-adjust: exact;
		color-adjust: exact;
	display: inline-block;
	vertical-align: middle;
	background-origin: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
		user-select: none;
	flex-shrink: 0;
	height: 1rem;
	width: 1rem;
	color: #2563eb;
	background-color: #fff;
	border-color: #6b7280;
	border-width: 1px;
	cursor: pointer;
}
[type='checkbox'] {
	border-radius: 0px;
}
[type='radio'] {
	border-radius: 100%;
}
[type='checkbox']:focus,
[type='radio']:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 2px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: #2563eb;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
[type='checkbox']:checked,
[type='radio']:checked {
	border-color: transparent;
	background-color: currentColor;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
[type='checkbox']:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
[type='radio']:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}
[type='checkbox']:checked:hover,
[type='checkbox']:checked:focus,
[type='radio']:checked:hover,
[type='radio']:checked:focus {
	border-color: transparent;
	background-color: currentColor;
}
[type='checkbox']:indeterminate {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
	border-color: transparent;
	background-color: currentColor;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
[type='checkbox']:indeterminate:hover,
[type='checkbox']:indeterminate:focus {
	border-color: transparent;
	background-color: currentColor;
}

.shine:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  pointer-events: none;
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}
.shine:hover:after {
  opacity: 1;
  top: -50%;
  left: -50%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
  pointer-events: none;
}
.shine:active:after {
  opacity: 0;
  pointer-events: none;
}
.contents {
	display: contents;
}
.whitespace-break-spaces {
	white-space: break-spaces;
}

/******************************************************************************
**	PAGE [UUID].js
******************************************************************************/
.headerAnim {
	transform: translateY(30px) scale(0.98);
	opacity: 0;
	transition: transform 600ms cubic-bezier(0.175, 0.85, 0.42, 0.96);
	will-change: transform;
}
.headerAnimOnMount {
	transform: translateY(0) scale(1);
	opacity: 1;
}

.contentAnim {
	transform: translateY(100px);
	opacity: 0;
	transition: transform 600ms cubic-bezier(0.175, 0.85, 0.42, 0.96);
	will-change: transform;
}
.contentAnimOnMount {
	transform: translateY(0);
	opacity: 1;
}

/******************************************************************************
**	AchievementCard.js
******************************************************************************/
.cardAnim {
	transform: translateY(30px) scale(0.98);
	opacity: 0;
	transition: transform 350ms cubic-bezier(0.48, 0.15, 0.25, 0.96);
	will-change: transform;
}
.cardAnimOnMount {
	transform: translateY(0) scale(1);
	opacity: 1;
}


/******************************************************************************
**	Feature banner
******************************************************************************/
.bannerInitialState {
	transform: translateX(0);
	opacity: 1;
}
.bannerInitialStateOff {
	transform: translateX(1000);
	opacity: 0;
	pointer-events: none;
}
.bannerStateOffLeft {
	transform: translateX(-1000);
	opacity: 0;
	pointer-events: none;
	z-index: 0;
}
.uniswapGradient {
	background-color: rgb(255, 0, 122);
	background: radial-gradient(174.47% 188.91% at 1.84% 0%, rgb(255, 0, 122) 0%, rgb(33, 114, 229) 100%) repeat scroll 0% 0%, rgb(237, 238, 242) none repeat scroll 0% 0%;
}
.wbtcGradient {
	background-color: #f7931a;
	background: linear-gradient(to bottom right, #f7931a, #DF5820);
}


.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(187, 247, 208, 0.05);
    animation: animate 25s linear infinite;
    bottom: -150px;
}
.circlesMoreVisible li {
    background: rgba(187, 247, 208, 0.1);
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 20s;
}
@keyframes animate {
    0%{
		transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}


.bg-playerone-gradient {
	background-image: linear-gradient(to right, #0250c5 0%, #d43f8d 100%);
    /* background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #F9BC2C 100%); */
}
.text-playerone-gradient {
	background: linear-gradient(to right, #0250c5 0%, #d43f8d 100%);;

	/* background: linear-gradient(-225deg, #231557 0%, #44107A 4%, #FF1361 50%, #F9BC2C 100%); */
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

  /* /////////////// */
.progress-circle {
	font-size: 20px;
	position: relative;
	padding: 0;
	width: 5em;
	height: 5em;
	border-radius: 50%;
	line-height: 5em;
	display:inline-block;
}
.progress-circle:after{
    border: none;
    position: absolute;
    top: 0.35em;
    left: 0.35em;
    text-align: center;
    display: block;
    border-radius: 50%;
    width: 4.3em;
    height: 4.3em;
    background-color: #F1F5F9;
    content: " ";
}
.dark .progress-circle:after{
    background-color: rgb(24,48,95);
}
.circle-span {
	line-height: 5em;
    width: 5em;
    z-index: 2;
}
.left-half-clipper { 
   border-radius: 50%;
   width: 5em;
   height: 5em;
   position: absolute;
   clip: rect(0, 5em, 5em, 2.5em);
}
.progress-circle.over50 .left-half-clipper {
	clip: rect(auto,auto,auto,auto);
}
.value-bar {
	position: absolute;
	clip: rect(0, 2.5em, 5em, 0);
	width: 5em;
	height: 5em;
	border-radius: 50%;
	border: 0.45em solid #f9b12a;
	box-sizing: border-box;
}
.progress-circle.over50 .first50-bar {
	position: absolute;
	clip: rect(0, 5em, 5em, 2.5em);
	background-color: #f9b12a;
	border-radius: 50%;
	width: 5em;
	height: 5em;
}
.progress-circle:not(.over50) .first50-bar{ display: none; }
.progress-circle.p0 .value-bar { display: none; }
.progress-circle.p1 .value-bar { transform: rotate(4deg); }
.progress-circle.p2 .value-bar { transform: rotate(7deg); }
.progress-circle.p3 .value-bar { transform: rotate(11deg); }
.progress-circle.p4 .value-bar { transform: rotate(14deg); }
.progress-circle.p5 .value-bar { transform: rotate(18deg); }
.progress-circle.p6 .value-bar { transform: rotate(22deg); }
.progress-circle.p7 .value-bar { transform: rotate(25deg); }
.progress-circle.p8 .value-bar { transform: rotate(29deg); }
.progress-circle.p9 .value-bar { transform: rotate(32deg); }
.progress-circle.p10 .value-bar { transform: rotate(36deg); }
.progress-circle.p11 .value-bar { transform: rotate(40deg); }
.progress-circle.p12 .value-bar { transform: rotate(43deg); }
.progress-circle.p13 .value-bar { transform: rotate(47deg); }
.progress-circle.p14 .value-bar { transform: rotate(50deg); }
.progress-circle.p15 .value-bar { transform: rotate(54deg); }
.progress-circle.p16 .value-bar { transform: rotate(58deg); }
.progress-circle.p17 .value-bar { transform: rotate(61deg); }
.progress-circle.p18 .value-bar { transform: rotate(65deg); }
.progress-circle.p19 .value-bar { transform: rotate(68deg); }
.progress-circle.p20 .value-bar { transform: rotate(72deg); }
.progress-circle.p21 .value-bar { transform: rotate(76deg); }
.progress-circle.p22 .value-bar { transform: rotate(79deg); }
.progress-circle.p23 .value-bar { transform: rotate(83deg); }
.progress-circle.p24 .value-bar { transform: rotate(86deg); }
.progress-circle.p25 .value-bar { transform: rotate(90deg); }
.progress-circle.p26 .value-bar { transform: rotate(94deg); }
.progress-circle.p27 .value-bar { transform: rotate(97deg); }
.progress-circle.p28 .value-bar { transform: rotate(101deg); }
.progress-circle.p29 .value-bar { transform: rotate(104deg); }
.progress-circle.p30 .value-bar { transform: rotate(108deg); }
.progress-circle.p31 .value-bar { transform: rotate(112deg); }
.progress-circle.p32 .value-bar { transform: rotate(115deg); }
.progress-circle.p33 .value-bar { transform: rotate(119deg); }
.progress-circle.p34 .value-bar { transform: rotate(122deg); }
.progress-circle.p35 .value-bar { transform: rotate(126deg); }
.progress-circle.p36 .value-bar { transform: rotate(130deg); }
.progress-circle.p37 .value-bar { transform: rotate(133deg); }
.progress-circle.p38 .value-bar { transform: rotate(137deg); }
.progress-circle.p39 .value-bar { transform: rotate(140deg); }
.progress-circle.p40 .value-bar { transform: rotate(144deg); }
.progress-circle.p41 .value-bar { transform: rotate(148deg); }
.progress-circle.p42 .value-bar { transform: rotate(151deg); }
.progress-circle.p43 .value-bar { transform: rotate(155deg); }
.progress-circle.p44 .value-bar { transform: rotate(158deg); }
.progress-circle.p45 .value-bar { transform: rotate(162deg); }
.progress-circle.p46 .value-bar { transform: rotate(166deg); }
.progress-circle.p47 .value-bar { transform: rotate(169deg); }
.progress-circle.p48 .value-bar { transform: rotate(173deg); }
.progress-circle.p49 .value-bar { transform: rotate(176deg); }
.progress-circle.p50 .value-bar { transform: rotate(180deg); }
.progress-circle.p51 .value-bar { transform: rotate(184deg); }
.progress-circle.p52 .value-bar { transform: rotate(187deg); }
.progress-circle.p53 .value-bar { transform: rotate(191deg); }
.progress-circle.p54 .value-bar { transform: rotate(194deg); }
.progress-circle.p55 .value-bar { transform: rotate(198deg); }
.progress-circle.p56 .value-bar { transform: rotate(202deg); }
.progress-circle.p57 .value-bar { transform: rotate(205deg); }
.progress-circle.p58 .value-bar { transform: rotate(209deg); }
.progress-circle.p59 .value-bar { transform: rotate(212deg); }
.progress-circle.p60 .value-bar { transform: rotate(216deg); }
.progress-circle.p61 .value-bar { transform: rotate(220deg); }
.progress-circle.p62 .value-bar { transform: rotate(223deg); }
.progress-circle.p63 .value-bar { transform: rotate(227deg); }
.progress-circle.p64 .value-bar { transform: rotate(230deg); }
.progress-circle.p65 .value-bar { transform: rotate(234deg); }
.progress-circle.p66 .value-bar { transform: rotate(238deg); }
.progress-circle.p67 .value-bar { transform: rotate(241deg); }
.progress-circle.p68 .value-bar { transform: rotate(245deg); }
.progress-circle.p69 .value-bar { transform: rotate(248deg); }
.progress-circle.p70 .value-bar { transform: rotate(252deg); }
.progress-circle.p71 .value-bar { transform: rotate(256deg); }
.progress-circle.p72 .value-bar { transform: rotate(259deg); }
.progress-circle.p73 .value-bar { transform: rotate(263deg); }
.progress-circle.p74 .value-bar { transform: rotate(266deg); }
.progress-circle.p75 .value-bar { transform: rotate(270deg); }
.progress-circle.p76 .value-bar { transform: rotate(274deg); }
.progress-circle.p77 .value-bar { transform: rotate(277deg); }
.progress-circle.p78 .value-bar { transform: rotate(281deg); }
.progress-circle.p79 .value-bar { transform: rotate(284deg); }
.progress-circle.p80 .value-bar { transform: rotate(288deg); }
.progress-circle.p81 .value-bar { transform: rotate(292deg); }
.progress-circle.p82 .value-bar { transform: rotate(295deg); }
.progress-circle.p83 .value-bar { transform: rotate(299deg); }
.progress-circle.p84 .value-bar { transform: rotate(302deg); }
.progress-circle.p85 .value-bar { transform: rotate(306deg); }
.progress-circle.p86 .value-bar { transform: rotate(310deg); }
.progress-circle.p87 .value-bar { transform: rotate(313deg); }
.progress-circle.p88 .value-bar { transform: rotate(317deg); }
.progress-circle.p89 .value-bar { transform: rotate(320deg); }
.progress-circle.p90 .value-bar { transform: rotate(324deg); }
.progress-circle.p91 .value-bar { transform: rotate(328deg); }
.progress-circle.p92 .value-bar { transform: rotate(331deg); }
.progress-circle.p93 .value-bar { transform: rotate(335deg); }
.progress-circle.p94 .value-bar { transform: rotate(338deg); }
.progress-circle.p95 .value-bar { transform: rotate(342deg); }
.progress-circle.p96 .value-bar { transform: rotate(346deg); }
.progress-circle.p97 .value-bar { transform: rotate(349deg); }
.progress-circle.p98 .value-bar { transform: rotate(353deg); }
.progress-circle.p99 .value-bar { transform: rotate(356deg); }
.progress-circle.p100 .value-bar { transform: rotate(360deg); }


.withNeon {
	-webkit-animation: neon1 1.5s ease-in-out infinite alternate;
	-moz-animation: neon1 1.5s ease-in-out infinite alternate;
	animation: neon1 1.5s ease-in-out infinite alternate;
}
/*glow for webkit*/
@-webkit-keyframes neon1 {
from {
	text-shadow: 0 0 1px #FFFFFF,
	0 0 2px #FFFFFF,
	0 0 3px #FFFFFF,
	0 0 4px rgb(249, 177, 42),
	0 0 7px rgb(249, 177, 42),
	0 0 8px rgb(249, 177, 42),
	0 0 10px rgb(249, 177, 42),
	0 0 15px rgb(249, 177, 42);
}
to {
	text-shadow: 0 0 5px #FFFFFF,
	0 0 1px #FFFFFF,
	0 0 1.5px #FFFFFF,
	0 0 2px rgb(249, 177, 42),
	0 0 3.5px rgb(249, 177, 42),
	0 0 4px rgb(249, 177, 42),
	0 0 5px rgb(249, 177, 42),
	0 0 7.5px rgb(249, 177, 42);
}
}
/*glow for mozilla*/
@-moz-keyframes neon1 {
from {
	text-shadow: 0 0 1px #FFFFFF,
	0 0 2px #FFFFFF,
	0 0 3px #FFFFFF,
	0 0 4px rgb(249, 177, 42),
	0 0 7px rgb(249, 177, 42),
	0 0 8px rgb(249, 177, 42),
	0 0 10px rgb(249, 177, 42),
	0 0 15px rgb(249, 177, 42);
}
to {
	text-shadow: 0 0 5px #FFFFFF,
	0 0 1px #FFFFFF,
	0 0 1.5px #FFFFFF,
	0 0 2px rgb(249, 177, 42),
	0 0 3.5px rgb(249, 177, 42),
	0 0 4px rgb(249, 177, 42),
	0 0 5px rgb(249, 177, 42),
	0 0 7.5px rgb(249, 177, 42);
}
}

/*glow*/

@keyframes neon1 {
from {
	text-shadow: 0 0 1px #FFFFFF,
	0 0 2px #FFFFFF,
	0 0 3px #FFFFFF,
	0 0 4px rgb(249, 177, 42),
	0 0 7px rgb(249, 177, 42),
	0 0 8px rgb(249, 177, 42),
	0 0 10px rgb(249, 177, 42),
	0 0 15px rgb(249, 177, 42);
}
to {
	text-shadow: 0 0 5px #FFFFFF,
	0 0 1px #FFFFFF,
	0 0 1.5px #FFFFFF,
	0 0 2px rgb(249, 177, 42),
	0 0 3.5px rgb(249, 177, 42),
	0 0 4px rgb(249, 177, 42),
	0 0 5px rgb(249, 177, 42),
	0 0 7.5px rgb(249, 177, 42);
}
}
  

.diagonal-hero-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 72vh;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.loginButton {
    display: inline-block;
    position: relative;
	will-change: transform, opacity;
	outline: none;
	cursor: pointer;
	z-index: 1;
	font-weight: 600;
	border-radius: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 1rem;
    background-color: #f9b12a;
}
.loginButton:after {
    content: "";
    position: absolute;
    display: block;
    top: 10px;
    width: 100%;
    left: 10px;
    bottom: -10px;
    z-index: -1;
    opacity: 0.3;
	border-radius: 4px;
    transition: all 300ms ease 0s;
    background-color: #f9b12a;
}
.loginButton:hover:after {
    opacity: 0.5;
    left: 0;
    top: 0;
    bottom: 0;

}

.web3modal-icon {
    width: 45px;
    height: 45px;
    display: flex;
    border-radius: 50%;
    overflow: visible;
    box-shadow: none;
    justify-content: center;
    align-items: center;
}
.hexagon {
	$hexagon-size: 30px;
	$hexagon-color-1: #f9b12a;
	$hexagon-color-2: #fcd894;
	
	width: ($hexagon-size * 0.645);
	height: $hexagon-size;
	background-image: linear-gradient(90deg, $hexagon-color-1, $hexagon-color-2);
	border-radius: ($hexagon-size / 10);
	transition: transform 400ms ease;
	
	&:before,
	&:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  width: inherit;
	  height: inherit;
	  background-image: inherit;
	  border-radius: inherit;
	}
	  
	&:before {
	  transform: rotate(60deg);
	}
	
	&:after {
	  transform: rotate(-60deg);
	}
  }